footer{
    background-color: #4e4130;
}

footer .container{
    display: flex;
    color:#fff
}

footer.container ul{
    width: 25%;

}

footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container li{
    margin: 10px 0;
}