
header{
    width: 100%;
    padding: 28px 8%;

}
a { /* cor do texto, transição - vai funcionar quando tiver link */
    color:#fff;
    text-decoration: none; /*remove o sublinhado dos links */
    transition: 0.3s;
}

a :hover{ /* regras aplicadas quando o cursor do mouse estiver em cima */
    opacity: 0.7; /* mouse sobre o link, opacidade do link será reduzida */
}

.logo {
    font-size: 24px; /*tamanho da fonte */
    text-transform: uppercase; /* transforma todo texto em maiúsculo*/
    letter-spacing: 4px; /*espaçamento entre as letras */

}

.lista {
    width: 100%;
    display:flex;
    justify-content: space-between; /*espaço entre os intens */
    align-items: center;
}

.menu {
    list-style: none;
    display:flex;

}

.menu li{
    letter-spacing: 2px;
    margin-left: 70px; /* afastar itens */
}

/* mobile */

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width:1170px) {
    .lista,
    .bnt-default{
        display: none;
    }

    .mobile_btn{
        
    }
}