body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image:url(../img/madeira.JPG) ;
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  
}
.content{
    width: 100vw; /* O carrossel ocupa 100% da largura da tela */
    height: 60vh; /* Ajuste a altura conforme necessário, aqui está 60% da altura da tela */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.navegation
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: #fff;
}

input{
    display: none;
}

.slides
{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: .6s;
    flex-shrink: 0;
    margin: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover; /* Mantém a proporção das imagens e preenche o espaço */
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%; /* estamos colocando -20% pois a imagem1 ta pegando 100% do width, e para passar para a outra imagem, temos que colocar -20% para colocar o 100% da imagem */
}

#slide3:checked ~ .s1 {
    margin-left: -40%; /* vamos aumentando em 20% em 20% ate chegar no final*/
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%; 
}

* { /* definindo todos os elementos */
    margin: 0px;
    padding: 0px;
}

a { /* cor do texto, transição - vai funcionar quando tiver link */
    color:#fff;
    text-decoration: none; /*remove o sublinhado dos links */
    transition: 0.3s;
}

a :hover{ /* regras aplicadas quando o cursor do mouse estiver em cima */
    opacity: 0.7; /* mouse sobre o link, opacidade do link será reduzida */
}

.logo {
    font-size: 24px; /*tamanho da fonte */
    text-transform: uppercase; /* transforma todo texto em maiúsculo*/
    letter-spacing: 4px; /*espaçamento entre as letras */

}

.lista {
    display:flex;
    justify-content: space-around; /*espaço entre os intens */
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4e4130;
    height: 8vh; /*ajusta o tamanho com base no navegador - menu funciona em diferentes tam de tela */
}

.menu {
    list-style: none;
    display:flex;

}

.menu li{
    letter-spacing: 3px;
    margin-left: 32px; /* afastar itens */
}

.sb {
    width: 100%;               /* Define a largura total do contêiner */
    overflow: hidden;          /* Garante que os itens flutuantes fiquem dentro do contêiner */
    margin: 0 auto;           /* Centraliza o contêiner na página */
    padding: 20px;            /* Adiciona algum espaço interno */
}

.logo2 {
    display: flex;
    flex:    1;                  /* A logo vai ocupar 1 parte da largura disponível */
    max-width: 20%;           /* A logo ocupará no máximo 30% da largura do contêiner */
    margin-left: 1000px;
   
}

.logo2 img{
    width: 100%;              /* A imagem vai ocupar 100% da largura do contêiner da logo */
    height: auto;             /* Mantém a proporção da imagem */
    
}
.sobrenos{
    flex: 1;                  /* O texto vai ocupar 2 partes da largura disponível */
    padding-left: 20px;       /* Adiciona um espaço entre a imagem e o texto */
    flex-direction: column; /* Alinha o título acima do parágrafo (coluna) */
    color: #fff;              /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Escolha da fonte */
    letter-spacing: 1px;      /* Espaçamento entre letras */
    line-height: 1.6;         /* Espaçamento entre linhas */
    text-align: left;         /* Alinha o texto à esquerda */
    max-width: 50%;
    margin: 45;
}
.trab {
    flex: 1;                  /* O texto vai ocupar 2 partes da largura disponível */
    padding-left: 20px;       /* Adiciona um espaço entre a imagem e o texto */
    flex-direction: column; /* Alinha o título acima do parágrafo (coluna) */
    color: #fff;              /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Escolha da fonte */
    letter-spacing: 1px;      /* Espaçamento entre letras */
    line-height: 1.6;         /* Espaçamento entre linhas */
    text-align: left;         /* Alinha o texto à esquerda */
    margin-top: 30px;
    max-width: 50%;
}

.sb h2 {
    display: flex;
    margin-bottom: 10px;      /* Adiciona espaço embaixo do título */
    margin-top: 0;            /* Remove o espaço em cima do título */
    font-size: 24px;          /* Tamanho da fonte do título */
    color:#fff;
    align-items: flex-start;
}

