@charset "utf-8";
/* CSS Document */


.fadeIn{
	
    width: 100%; 
    height: 60vh; 
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    object-fit: cover;
    
}


.fadeIn {
    transition: opacity 1s ease-in-out; /* Transição suave */
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

#moldura{
	
	max-width: 100%;

}

.grupoBotao{
	
	margin: 0 auto;
	text-align: center;	
	
}

.botao{
	margin: 5px;
	padding: 4px;
	background: #139DE0;
	border-radius: 8px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 18px;
	cursor: pointer;
	letter-spacing: 2px;
	color: white;
}




