@charset "utf-8";
/* CSS Document */


.fadeIn{
	
    width: 100%; 
    height: 60vh; 
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    object-fit: cover;
    
}


.fadeIn {
    transition: opacity 1s ease-in-out; /* Transição suave */
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

#moldura{
	
	max-width: 100%;

}

.grupoBotao{
	
	margin: 0 auto;
	text-align: center;	
	
}

.botao1, .botao2{
	position: absolute;
    top: 40%;
    transform: translateY(-50%);
	background: transparent;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
	
}
.botao1{
	left: 10px; /* Botão à esquerda */
}

.botao2{
	right: 10px; /* Botão à direita */
}
.botao1:hover, .botao2:hover {
    background: black /* Mudança de cor no hover */
}

@media (max-width: 670px){
    
    
}