footer {
    padding: 40px 0;
}

footer .futer {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
}



footer h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 15px;
    color: #e1e1e1;
}



footer h3:hover {
    color: #b70000; /* Cor ao passar o mouse */
    transition: transform 0.3s ease-in-out;
    
}

/* Responsividade */
@media (max-width: 768px) {
    footer .container {
        flex-direction: column; /* Coloca as colunas em linha vertical */
        align-items: center; /* Centraliza as colunas */
    }
}