@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


*{
    font-family: "Poppins", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      margin: 0  auto;
      padding: 0;
      box-sizing: border-box;  
      object-fit: cover;
    }

body{
    width: 100%;
    height: auto;
}
.x-icon{
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffff;
    border-radius: 50%;
    padding: 8px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0dbdb;
}

.x-icon:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}
header{
    display: flex;
    background-color: #f9f7f7;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    white-space: nowrap;
}
header ul{
    display: flex;
    justify-content: flex-end;

    list-style: none;
}
header a{
    margin: 50px;
    text-decoration: none;
    color: black;   
}

header a:hover {
    color: #b70000; /* Cor ao passar o mouse */
    transition: transform 0.3s ease-in-out;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 0px 0px 3%;
    font-weight: 300;
    font-style: normal;
}

.logo:hover {
    color: #b70000; /* Cor ao passar o mouse */
    
}   
.espaco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper{
    margin:5% auto;
    width: 100%;
    max-width: 45%;
}
.imagem{
    width: 30vw;
    height: auto;
    float: left;
    margin: 0px 0px 0px 20%;
}
.text-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    
}

.text-box p{
    margin-top: 3%;
    text-indent: 30px;
    width: 80%;
    height: auto;
}
.text-box h2{
    text-align: center;
}

.tprojeto{
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 5% 0px;
    
}

.container a{
    text-decoration: none;
}

.article{
    background-color:rgb(240, 240, 240) ;
    padding: 8px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.article:hover{
    font-size: 1rem;
    transition: transform 0.3s ease;
    transform: scale(1.1);
    margin: 20px;
    
}
.article img{
    max-width: 300px;
    
}
.article p{  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #475569;
}

.sb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.sbt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 0px 0px;
    
    }

.sbt p{
    width: 600px;
    height: auto;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center; 
}
.footer {
    background-color: #f9f7f7;
    color: rgb(193, 191, 191); 
    padding: 20px 0; 
    text-align: center; 
}
.social-icons {
    list-style: none; 
    padding: 0; 
    margin: 10px 0 0; 
    color: rgb(193, 191, 191); 
}
.social-icons li {
    display: inline; 
    margin: 0 10px; 
}
    
.social-icons a {
    color:rgb(193, 191, 191); 
    font-size: 24px; 
    text-decoration: none; 
}
    
.social-icons a:hover {
    color: #b70000; 
    }
    
.google-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
}
.google-maps article{
    margin-top: 80px;
    position: relative;
    width: 600px;
    height: 500px;
    background-color: #475569;
}
article iframe{
    width: 100%;
    height: 100%;
}
    
@media (max-width: 768px) {
    footer .container {
        flex-direction: column; /* Coloca as colunas em linha vertical */
        align-items: center; /* Centraliza as colunas */
    }
        
    .tesp {
        
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        font-weight: 800;
        font-style: normal;
        padding: 60px 18% 0px 0px; 
        }
    }

    @media (max-width: 670px){
    
    *{
        margin: 0px;
        padding: 0%;
    }
    
    .logo{
        margin: 0px 5% 0px 5%;
        padding: 0px 5% 0px 0px;
        text-align: center;
        }
    .menu{
        padding: 5% 5% 5% 0px;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-end;
        }
    .nav_itens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
        border-radius: 2px;
        width: 100px;
        height: 20px;
        border: 1px solid #acacac;
        background-color: #bebebe;
        }

    .espaco{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .imagem{
        margin: 0 auto;
        width: 50vw;
        align-items: center;
       
    }
    .text-box{
        width: 600px;
        height: auto;
        line-height: 1.5;
        margin: 0px;
        text-align: center;
        max-width: 70%;
    }

    .sbt p {
        width: 600px;
        height: auto;
        line-height: 1.5;
        margin: 0px;
        text-align: center;
        max-width: 70%;

        }
    
    .google-maps h2 {
        margin-top: 30px;
        text-align: center;
        }

    .google-maps article{
        width: 100%; 
        max-width: 400px; 
        
    }
}


    @media (max-width: 1800px){
        .text-box{
            margin-top: 80px;
        }
    }


    