@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

body{
    background-color: #fdba74;
}

.btn_padrao{
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lawngreen;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn_padrao:hover{
    background-color: green;
}